.contactPage
    #getintouchSec
        padding: 60px 0 64px
        @media only screen and (min-width: 576px)
            padding: 70px 0 82px
        @media only screen and (min-width: 1200px)
            padding: 84px 0 110px
        @media only screen and (min-width: 1441px)
            padding: 92px 0 136px
        @media only screen and (min-width: 1551px)
            padding: 107px 0 170px
        .HeadingSec
            margin-bottom: 38px
            @media only screen and (min-width: 576px)
                margin-bottom: 42px
            @media only screen and (min-width: 1200px)
                margin-bottom: 50px
            @media only screen and (min-width: 1551px)
                margin-bottom: 62px
            .MainHeading
                margin-bottom: 5px
            p
                font-size: 15px
                line-height: 28px
                color: rgba(0, 0, 0, 0.6)
                @media only screen and (min-width: 576px)
                    font-size: 16px
                    line-height: 30px
                @media only screen and (min-width: 1200px)
                    font-size: 18px
                    line-height: 32px
        .getListing
            margin: -12px
            @include display
            @media only screen and (min-width: 1200px)
                margin: -20px
            @media only screen and (min-width: 1551px)
                margin: -32px
            &>*
                width: 100%
                padding: 12px
                @media only screen and (min-width: 992px)
                    width: calc( 100% / 3 )
                @media only screen and (min-width: 1200px)
                    padding: 20px
                @media only screen and (min-width: 1551px)
                    padding: 32px
            .getBx
                background-color: $white
                border-radius: 20px
                padding: 26px 26px 28px
                width: 100%
                height: 100%
                box-shadow: 60px 30px 60px #A8BBCA29
                @media only screen and (min-width: 576px)
                    padding: 30px 30px 32px
                @media only screen and (min-width: 1200px)
                    padding: 42px 40px 40px
                @media only screen and (min-width: 1551px)
                    padding: 63px 55px 54px
                .icon
                    width: 68px
                    height: 68px
                    margin-bottom: 25px
                    border-radius: 50%
                    background-color: #EEFBFB
                    display: flex
                    justify-content: center
                    align-items: center
                    @media only screen and (min-width: 576px)
                        width: 76px
                        height: 76px
                        margin-bottom: 30px
                    @media only screen and (min-width: 1200px)
                        width: 94px
                        height: 94px
                        margin-bottom: 34px
                    @media only screen and (min-width: 1551px)
                        width: 111px
                        height: 111px
                        margin-bottom: 41px
                    svg
                        max-width: 22px
                        @media only screen and (min-width: 576px)
                            max-width: 25px
                        @media only screen and (min-width: 1200px)
                            max-width: 32px
                .title
                    font-size: 20px
                    line-height: 1
                    margin-bottom: 10px
                    font-weight: 700
                    color: $black
                    @media only screen and (min-width: 576px)
                        font-size: 22px
                        margin-bottom: 12px
                    @media only screen and (min-width: 1200px)
                        font-size: 25px
                        margin-bottom: 15px
                    @media only screen and (min-width: 1551px)
                        font-size: 28px
                        margin-bottom: 20px
            ul
                li
                    a, p
                        font-size: 14px
                        line-height: 24px
                        color: $black
                        @media only screen and (min-width: 576px)
                            font-size: 15px
                            line-height: 26px
                        @media only screen and (min-width: 1200px)
                            font-size: 16px
                            line-height: 28px
                        @media only screen and (min-width: 1551px)
                            font-size: 18px
                            line-height: 32px
                    p
                        display: flex
                        align-items: center
                        gap: 5px
                    a
                        &:hover
                            color: $basecolor
        .getTouchForm
            margin-top: 40px
            padding: 40px 20px 54px
            position: relative
            @media only screen and (min-width: 576px)
                margin-top: 45px
                padding: 60px 40px 72px
            @media only screen and (min-width: 992px)
                margin-top: 72px
                padding: 60px 0 72px
            @media only screen and (min-width: 1200px)
                margin-top: 100px
                padding: 80px 0 90px
            @media only screen and (min-width: 1551px)
                margin-top: 158px
                padding: 90px 0 102px
            &::before
                position: absolute
                content: ""
                width: 100%
                height: 100%
                top: 0
                left: 0
                background-color: #EEFBFB
                z-index: 0
                border-radius: 20px
                @media only screen and (min-width: 992px)
                    width: 90%
            .row    
                align-items: center
            .cntSec
                position: relative
                z-index: 1
                max-width: 100%
                @media only screen and (min-width: 992px)
                    padding-left: 30px
                    max-width: 520px
                @media only screen and (min-width: 1200px)
                    padding-left: 68px
                    max-width: 620px
                @media only screen and (min-width: 1441px)
                    max-width: 706px
                @media only screen and (min-width: 1551px)
                    padding-left: 90px
                .HeadingSec
                    margin-bottom: 20px
                    @media only screen and (min-width: 576px)
                        margin-bottom: 22px
                    @media only screen and (min-width: 1200px)
                        margin-bottom: 36px
                    @media only screen and (min-width: 1441px)
                        margin-bottom: 53px
                    .MainHeading
                        margin-bottom: 10px
                        @media only screen and (min-width: 576px)
                            margin-bottom: 12px
                        @media only screen and (min-width: 1200px)
                            margin-bottom: 20px
                        @media only screen and (min-width: 1441px)
                            margin-bottom: 31px
                    p
                        font-size: 14px
                        line-height: 22px
                        color: rgba(0, 0, 0, 0.6)
                        @media only screen and (min-width: 576px)
                            font-size: 16px
                            line-height: 26px
                        @media only screen and (min-width: 1200px)
                            font-size: 18px
                            line-height: 32px
                .formSec
                    .form-group
                        .form-control
                            width: 100%
                            height: 52px
                            background-color: $white
                            border-radius: 10px
                            border: 1px solid #D6D6D6
                            transition: 0.4s all
                            font-size: 13px
                            color: $black
                            padding: 10px 22px
                            @media only screen and (min-width: 576px)
                                height: 56px
                                padding: 10px 27px
                            @media only screen and (min-width: 1441px)
                                height: 65px
                            &::placeholder
                                font-size: 13px
                                color: $black
                            &:focus
                                border-color: $basecolor !important
                        textarea.form-control
                            min-height: 152px
                            padding: 18px 20px
                            @media only screen and (min-width: 576px)
                                min-height: 182px
                                padding: 25px 27px
                    .baseBtn
                        width: 100%
                        max-width: 100%
                        min-width: 100%
                        height: 60px
                    .row
                        margin: -7px -8px
                        &>*
                            padding: 7px 8px
            .ritSec
                position: relative
                @media only screen and (max-width: 991px)
                    margin-top: 30px
                .imgSec
                    position: relative
                    z-index: 1
                    width: 100%
                    height: 385px
                    display: block
                    margin-left: auto
                    @media only screen and (min-width: 576px)
                        width: 348px
                        height: 500px
                    @media only screen and (min-width: 1200px)
                        width: 400px
                        height: 560px
                    @media only screen and (min-width: 1441px)
                        width: 460px
                        height: 620px
                    @media only screen and (min-width: 1551px)
                        width: 544px
                        height: 660px
                    img
                        border-radius: 60px 0 0 18px
                        @include imgFit
                        @media only screen and (min-width: 576px)
                            border-radius: 100px 0 0 20px
                .achieveSec
                    position: absolute
                    bottom: 28px
                    left: -20px
                    height: auto
                    width: 100%
                    padding: 18px 20px 20px 28px
                    border-radius: 20px
                    z-index: 1
                    background-color: $white
                    @media only screen and (min-width: 576px)
                        width: 364px
                        padding: 20px 28px 22px 36px
                        left: 0
                    @media only screen and (min-width: 1200px)
                        width: 400px
                        padding: 22px 40px 26px 46px
                    @media only screen and (min-width: 1441px)
                        width: 435px
                        padding: 23px 42px 27px 70px
                    .dFlx
                        margin-bottom: 10px
                        align-items: center
                        @include display
                        @media only screen and (min-width: 576px)
                            margin-bottom: 12px
                        @media only screen and (min-width: 1441px)
                            margin-bottom: 17px
                        .lFlx
                            width: 20px
                            @media only screen and (min-width: 576px)
                                width: 25px
                        .rFlx
                            width: calc( 100% - 20px )
                            padding-left: 15px
                            @media only screen and (min-width: 576px)
                                width: calc( 100% - 25px )
                                padding-left: 19px
                            .title  
                                font-size: 17px
                                color: $black
                                font-weight: 900
                                @media only screen and (min-width: 576px)
                                    font-size: 19px
                                span
                                    color: $basecolor
                    p   
                        font-size: 14px
                        font-weight: 500
                        color: #C6C6C6
                        @media only screen and (min-width: 576px)
                            font-size: 16px
                        @media only screen and (min-width: 1200px)
                            font-size: 17px


    #mapSec
        width: 100%
        height: 310px
        filter: grayscale(100%)
        @media only screen and (min-width: 576px)
            height: 380px
        @media only screen and (min-width: 1200px)
            height: 480px
        @media only screen and (min-width: 1441px)
            height: 530px
        @media only screen and (min-width: 1551px)
            height: 590px
        iframe
            width: 100%
            height: 100%
