.testimonialPage
    #testimonialSec
        padding: 152px 0 124px
        .testimonialListing
            margin: -18px -24px
            @include display    
            &>*
                width: calc( 100% / 2 )
                padding: 18px 24px